.daily-weather {
  margin-top: 1rem;
  border-radius: 5px;
  height: 80vh;
}

.daily-forecast-info {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 'square-info' 'square-info' 'square-info' 'square-info' 'square-info' 'square-info'; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;

  /* background-color: rgba(241, 241, 241, 0.4); */
  border-radius: 10px;
}

.daily-square-forecast {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 7px;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  margin: 0.5rem;

  /* height: 4.1rem; */
  background-color: rgba(241, 241, 241, 0.4);
  color: whitesmoke;
  text-shadow: 1.5px 1.5px 3px black;
  width: 70%;
  height: 45px;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'daily-date' 'daily-temp' 'daily-chance-rain';
  justify-items: center;
  align-items: center; */
}

.daily-date,
.daily-temp,
.daily-chance-rain {
  text-align: center;
  width: calc(33%);
}

.daily-date {
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.daily-type {
  font-weight: 600;
  font-size: 0.8rem;
  width: 80%;
}
.daily-temp {
  font-weight: 700;
}
.daily-icon {
  font-size: 1.3rem;
}

.weather-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .daily-forecast-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 'square-info' 'square-info' 'square-info' 'square-info' 'square-info' 'square-info';
  }
  .daily-square-forecast {
    width: auto;
    height: auto;
  }

  .daily-weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* .daily-date,
  .daily-temp,
  .daily-chance-rain {
    text-align: center;
    width: calc(33%);
  } */

  .daily-date {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }

  .daily-type {
    font-weight: 500;
    font-size: 0.8rem;
    width: 80%;
  }
  .daily-temp {
    font-weight: 700;
  }
  .daily-icon {
    font-size: 1.3rem;
  }
}
