.hourly-weather {
  margin-top: 1rem;
  border-radius: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  text-shadow: 1px 1px 2px black;
}

.forecast-info-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: 'square-forecast' 'square-forecast' 'square-forecast' 'square-forecast' 'square-forecast' 'square-forecast';
  gap: calc(17% / 13);
  height: 80vh;
  border-radius: 10px;
  width: 70%;
}

/* .square-forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'hourly-date hourly-temp hourly-type hourly-uv hourly-rain-pop hourly-rain hourly-snow';
  justify-content: space-around !important;
  flex-direction: row !important;
} */

.square-forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
  height: 20px;
  background-color: rgba(241, 241, 241, 0.5);
}
.hourly-date,
.hourly-temp,
.hourly-type {
  text-align: center;
  width: calc(20%);
}

.hourly-icon {
  font-size: 1.3rem;
}
.weather-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .forecast-info-main {
    width: 100%;
  }
  .square-forecast {
    font-size: 0.8rem;
    max-height: 40px !important;
  }
  .hourly-date,
  .hourly-temp,
  .hourly-rain-pop {
    text-align: center;
    width: calc(20%);
  }
  .hourly-type {
    width: calc(30%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .hourly-date {
    font-weight: 700;
    font-weight: 0.9rem;
  }
  .hourly-temp {
    font-weight: 800;
    font-size: 1rem;
  }
  /* .forecast-info-main {
    margin-top: 10%;
  } */
}
/* @media screen and (min-width: 1280px) {
  .square-forecast {
    min-height: 35px;
  }
} */

/* .square-forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'hourly-date hourly-temp hourly-type hourly-uv hourly-rain-pop';
  justify-content: space-around !important;
  flex-direction: row !important;
  font-size: 0.5rem;
  height: 30px;
} */

/* .forecast-info-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 'square-forecast' 'square-forecast' 'square-forecast' 'square-forecast' 'square-forecast' 'square-forecast';
  } */
