.main-weather {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-info-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  /* position: inherit; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  gap: 0.5rem;
  color: aliceblue;
  text-shadow: 2px 2px 3px black;
  background-color: rgba(241, 241, 241, 0.4);
}

.main-location {
  font-size: 3rem;
}

.main-temp {
  font-size: 4rem;
}

.main-type {
  font-size: 2rem;
}
.main-icon {
  text-align: center;
}

.main-extra-container {
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  color: aliceblue;
  text-shadow: 1.5px 1.5px 3px black;
  background-color: rgba(241, 241, 241, 0.63);
}

.weather-info-extra {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'square-info square-info square-info square-info square-info square-info';
}

.square-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  margin: 0.5rem;
  font-size: 0.9rem;
  background-color: rgba(122, 181, 236, 0.363);
}

.square-info p {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 2px;
  display: inline-block;
  width: 10rem;
  background-color: rgba(122, 181, 236, 0.63);
  color: whitesmoke;
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
}

.weather-btn-container {
  display: inline-flex;

  justify-content: space-around;
}

@media only screen and (max-width: 480px) {
  .weather-info-main {
    margin-bottom: 1rem;
  }
  .main-weather {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr 1fr;
    grid-template-areas: 'weather-info-main' 'weather-info-main' 'main-extra-container';
  }
  .weather-info-extra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'square-info square-info square-info ';
  }

  .main-extra-container {
    grid-area: main-extra-container;
  }

  .weather-info-main {
    margin-left: 10%;
    margin-right: 10%;
    grid-area: weather-info-main;
  }

  .main-location {
    font-size: 2.5rem;
    text-align: center;
  }
  /* .main-date {
    position: relative;
    top: -80px;
  } */
  /* .main-time {
    position: relative;
    top: -80px;
  } */
  .main-temp {
    font-size: 4.5rem;
  }
  .main-type {
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .main-icon {
    font-size: 2rem;
  }

  .square-info p svg {
    font-size: 1.2rem;
  }

  .rain-p {
    justify-content: space-evenly;
  }

  .wind-p {
    justify-content: space-evenly;
  }
}
/* 
@media only screen and (max-width: 768px) {
  .main-temp,
  .main-location,
  .main-type {
    font-size: 1.5rem;
  }
} */

@media screen and (min-width: 1280px) {
  .main-weather {
    max-width: 50%;
  }
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
