.navbar {
  background-color: rgba(122, 181, 236, 0.63);
  border-radius: 10px;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  text-shadow: 1.5px 1.5px 3px black;
  box-shadow: 1px 1px 3px black;
}

.nav-links .about {
  text-decoration: none;
  color: whitesmoke;
  font-size: 2rem;
}

@media screen and (min-width: 1280px) {
  .navbar {
    width: 60%;
  }

  .sub-navbar {
    display: flex;

    justify-content: center;
  }
}
