* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: center / cover no-repeat url(./layout/img/weather2.jpg);
}

.app {
  padding: 0.5rem;
}

.overlay {
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

@media only screen and (max-width: 480px) {
  .app {
    height: 98vh;
  }
}
@media screen and (min-width: 768px) {
  .app {
    padding: 0.5rem !important;
  }
}

@media screen and (min-width: 1280px) {
  .app {
    /* height: 100% !important; */
    padding: 2.2rem !important;
  }
}
